<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wordsassemblyapi.mapper.novel.NovelCommandMapper">
  <insert id="insertNovel">
    INSERT INTO novels (
      author_id
      , category
      , title
      , digest
      , contents
      , is_publish
    ) VALUES (
      #{dto.authorId}
      , #{dto.category}
      , #{dto.title}
      , #{dto.digest}
      , #{dto.contents}
      , #{dto.isPublish}
    )
  </insert>

  <update id="updateNovelById">
    UPDATE novels SET
      title = #{dto.title}
      , category = #{dto.category}
      , digest = #{dto.digest}
      , contents = #{dto.contents}
      , is_publish = #{dto.isPublish}
    WHERE
      id = #{novelId}
  </update>

  <delete id="deleteNovelById">
    DELETE FROM
      novels
    WHERE
      id = #{novelId}
  </delete>
</mapper>